<style>
*{
	margin: 0px;
	pading: 0px;
}

body {
	background: white;
	color: #fff;
}

#contenedor {
	width: 1120px;
	margin: auto;
	margin-top: 20px;
	margin-buttom: 20px;
	background: #D8D8D8;
	overflow: hidden;
	border-radius: 15px;
}

header {
	height: 65px;
	background: #A9D0F5;
	text-align: center;
	line-height: 65px;
}

nav {
	background: white;
	height: 35px;
	width: 1120px;
	line-height: 35px;
	text-align: center;
	align: center;
}

#contenido {
	width: 860px;
	height: 1600px;
	float: left;
	background: #A9D0F5;
	margin-top: 10px;
	text-align: center;
}

aside {
	width: 100px;
	height: 1600px;
	background: #E6E6E6;
	margin-top: 10px;
	float: right;
	text-align: center;
}

footer {
	height: 50px;
	background: black;
	clear: both;
	text-align: center;
}
</style>